@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

header {
    text-align: center;
}

.imageH {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header p {
    color: #666666;
    padding: 0px 4px 0px 4px;
    font-size: 14px;
    font-weight: 300;

    font-family: "poppins";
}

.course {
    background-color: #993333;
    color: white;

    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #fff;
    height: auto;
    background-image: none;

    padding: 15px 15px 15px 20px;
    margin-bottom: 8px;

    font-family: "poppins";
    display: flex;

    margin-top: 15px;
}

.course p {
    padding: 0 5px;
}


.gre {
    display: flex;
    align-items: center;
}

.gre p:last-child {
    margin-left: -13px;
}

.menu {
    background-color: white;
    margin-bottom: 10px;
    padding: 0 35px 10px 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
}

.menu svg {
    height: 15px;
}

.reg {
    background-color: #666;
    border: 1px solid #505050;
    color: white;
    font-family: "poppins";
    font-weight: 500;
    width: 93%;
    padding: 4px 7px;

    background-image: -moz-linear-gradient(top, #777, #555);
    background-image: -webkit-linear-gradient(top, #777, #555);
    background-image: linear-gradient(top, #777, #555);

    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);

    text-align: center;
    margin: 0 auto;

    margin-top: 3rem !important;
}

table {
    font-family: "poppins";
}

#chartdiv {
    height: 6rem;
    width: 6rem;
    background-color: #003366;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart2 {
    height: 4.5rem;
    width: 4.5rem;
    background-color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
}

.chart3 {
    height: 7rem;
    width: 3.5rem;
    margin-left: -1rem;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chart4 {
    font-family: "poppins";
    font-size: 20px;
    font-weight: 600;
    margin-left: 3rem;
}

.pro {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro p {
    font-family: "poppins";
    font-weight: 400;
    color: #777;
}

.unit-wise {
    width: 80%;
    background-color: #bfc8cd;
    color: #444;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    font-family: "poppins";
    margin-bottom: 1rem;
    margin-top: 10px;
}

.Assessment {
    width: 80%;
    background-color: #bfc8cd;
    color: #444;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    font-family: "poppins";
}

.marksheet {
    padding: 20px 2.5rem;
}

.m1 {
    font-size: .9em;
    line-height: 1.5em;
    font-family: "poppins";
}

.m1 a {
    text-decoration: none;
}

.onl {
    margin-top: 1.5rem;
    font-family: "poppins";
    margin-bottom: -1rem;
}


.table-container {
    max-height: 200px;
    /* Set the maximum height of the container */
    overflow-y: auto;
    width: 83%;
    margin:  0 auto;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
    /* Make the table take the full width of the container */
}

.table-container table tr th{
    padding: 8px 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-family: "poppins";
    font-weight: 600;
}

.table-container table tr td{
    padding: 10px 20px;
    border: 1px solid #ddd;
    font-family: "poppins";
    font-weight: 600;
}

.mssg{
    width: 83%;
    margin: 0 auto;
    margin-top: 1.5rem !important;
    font-family: "poppins";
    font-weight: 500;
}

.passing span{
    color: #993333;
    font-weight: 700;
}

.passing{
    margin-bottom: 1rem;
}

.announce a{
    text-decoration: none;
}

.announce{
    margin-bottom: 1rem;
}

.discuss a{
    text-decoration: none;
}

.discuss{
    margin-bottom: 5rem;
}